*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #e4e4e4;
}

header {
	margin: 5rem auto;
	text-align: center;
	font-size: 2rem;
	color: orangered;
}
.underline {
	height: 2px;
	width: 20rem;
	background-color: red;
	margin: 0.75rem auto;
}

.app {
	width: 50%;
	/* border: 1px solid turquoise; */
	margin: 0 auto;
}
.list {
	position: relative;
	height: 5rem;
	font-size: 1.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5rem;
	transition: all 0.3s linear;
	margin: 0 0.5rem;
}
.list:not(:last-child) {
	border-bottom: 2px solid rgb(74, 141, 134);
}
.content {
	width: 20rem;
}
.buttons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.button {
	font-size: 1.2rem;
}
.button:hover {
	cursor: pointer;
}
.checkbox {
	height: 1.5rem;
	width: 1.5rem;
	cursor: pointer;
}
.line-through {
	text-decoration: line-through;
}

.add {
	margin: 4rem auto;
}
.add-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	color: orangered;
	font-size: 1.2rem;
}
.add-item {
	width: 30rem;
	height: 4rem;
	border: 3px solid teal;
	font-size: 1.6rem;
	padding-left: 0.5rem;
}
.add-btn {
	font-size: 1.3rem;
	cursor: pointer;
	width: 8rem;
	height: 4rem;
}
.overlay {
	max-width: 30rem;
	height: 3rem;
	font-size: 1.85rem;
}

.hidden {
	display: none;
}
button {
	width: 5rem;
	height: 1.3em;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button::before {
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
	transition: 0.5s ease;
	display: block;
	z-index: -1;
}

button:hover::before {
	width: 9em;
}

@media screen and (max-width: 768px) {
	.app {
		width: 95%;
		margin: 0 auto;
	}
	.list {
		height: 3rem;
		font-size: 0.875;
		padding: 0 0.25rem;
		margin: 0;
		width: 100%;
	}
	.date {
		font-size: 0.75rem;
	}
	.content {
		max-width: 12rem;
		word-wrap: wrap;
		font-size: 1.2rem;
		margin-left: 1rem;
		text-transform: capitalize;
	}
	.buttons {
		gap: 0.25rem;
	}
	.button {
		font-size: 0.75rem;
		width: 3rem;
		height: 1rem;
	}
	.overlay {
		width: 10rem;
		height: fit-content;
		font-size: 1.2rem;
	}
	.add-container {
		flex-direction: column;
	}
	.add-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.add-item {
		max-width: 18rem;
		height: 3rem;
	}
	.checkbox {
		height: 2rem;
		width: 2rem;
		cursor: pointer;
	}
	.overlay {
		left: 2rem;
	}
}
